body {
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}

button {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

b[red] {
    color: #c92a2a;
}

b[green] {
    color: #2b8a3e;
}

#logger #logger-actions > * {
    display: none;
}

.painel label {
    font-weight: bold;
}

#logger #logger-actions.retry .btn-replay,
#logger #logger-actions.retry .btn-retry {
    display: inline-block;
}

#logger #logger-actions.reset .btn-reset {
    display: inline-block;
}

#logger #logger-actions.back-to-top .btn-back-to-top {
    display: inline-block;
}
