body {
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}

button {
    text-transform: uppercase;
}

#logger #logger-actions > * {
    display: none;
}

#logger #logger-actions.retry .btn-retry {
    display: inline-block;
}

#logger #logger-actions.reset .btn-reset {
    display: inline-block;
}

#logger #logger-actions.back-to-top .btn-back-to-top {
    display: inline-block;
}
